NEWS_API_KEY="<https://newsapi.org/account>"

POSTGRESQL_URL="postgresql://<username>:<password>@<host>:<port>/<database>"
POSTGRES_PRISMA_URL="postgresql://<username>:<password>@<host>:<port>/<database>"
POSTGRES_URL_NON_POOLING="postgresql://<username>:<password>@<host>:<port>/<database>"
