@plugin 'daisyui' {
  themes:
    chemistry-light --default,
    chemistry-dark;
}

@plugin 'daisyui/theme' {
  name: 'chemistry-light';
  default: true;
  color-scheme: 'light';
  --color-base-100: #ffffff;
  --color-base-200: #f7f7f7;
  --color-base-300: #e5e5e5;
  --color-base-content: #3c3c3c;
  --color-primary: #58cc02;
  --color-primary-content: #ffffff;
  --color-secondary: #1cb0f6;
  --color-secondary-content: #ffffff;
  --color-accent: #ce82ff;
  --color-accent-content: #ffffff;
  --color-neutral: #4b4b4b;
  --color-neutral-content: #ffffff;
  --color-info: #1cb0f6;
  --color-info-content: #ffffff;
  --color-success: #58cc02;
  --color-success-content: #ffffff;
  --color-warning: #ffc800;
  --color-warning-content: #4b4b4b;
  --color-error: #ff4b4b;
  --color-error-content: #ffffff;
  --radius-selector: 1rem;
  --radius-field: 0.75rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}

@plugin 'daisyui/theme' {
  name: 'chemistry-dark';
  color-scheme: 'dark';
  --color-base-100: #131f24;
  --color-base-200: #1a2c32;
  --color-base-300: #37464f;
  --color-base-content: #f1f7fb;
  --color-primary: #58cc02;
  --color-primary-content: #ffffff;
  --color-secondary: #1cb0f6;
  --color-secondary-content: #ffffff;
  --color-accent: #ce82ff;
  --color-accent-content: #ffffff;
  --color-neutral: #37464f;
  --color-neutral-content: #f1f7fb;
  --color-info: #1cb0f6;
  --color-info-content: #ffffff;
  --color-success: #58cc02;
  --color-success-content: #ffffff;
  --color-warning: #ffc800;
  --color-warning-content: #131f24;
  --color-error: #ff4b4b;
  --color-error-content: #ffffff;
  --radius-selector: 1rem;
  --radius-field: 0.75rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}
