# Large File Storage
*.sql filter=lfs diff=lfs merge=lfs -text

# Linguist Detectable
*.css linguist-detectable=false
*.html linguist-detectable=false
*.ipynb linguist-detectable=false
*.js linguist-detectable=false
