@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotation-3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotation-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(120deg);
  }
}

@keyframes rotation-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(60deg);
  }
}

@mixin themable($theme-name, $level-3, $level-2, $level-1) {
  .#{$theme-name} {
    @for $row from 0 through 50 {
      @for $column from 0 through 50 {
        $top: $row - 1;
        $left: $column;

        #hexagon-#{$row}-#{$column} {
          position: absolute;
          display: block;
          top: 56px * $top;
          left: 192px * $left - 96px * ($row % 2);
          width: 128px;
          height: 112px;

          svg {
            path {
              fill: #111827;
              transition-property: fill;
              transition-duration: 500ms;
              transition-timing-function: linear;
            }
          }

          .project {
            display: none;
          }

          &.level-3 {
            svg {
              animation: rotation-3 750ms linear;

              path {
                fill: $level-3;
              }
            }
          }

          &.level-2 {
            svg {
              animation: rotation-2 500ms linear;

              path {
                fill: $level-2;
              }
            }
          }

          &.level-1 {
            svg {
              animation: rotation-1 250ms linear;

              path {
                fill: $level-1;
              }
            }
          }

          &:hover {
            cursor: pointer;

            svg {
              path {
                fill: #ffffff;
              }
            }

            .project {
              display: flex;
            }
          }
        }
      }
    }
  }
}

@include themable('theme-0', #aa0200, #ffb81d, #071d49);
