# GraphQL
GRAPHQL_URI="http://localhost:3002/api/graphql"
NEXT_PUBLIC_GRAPHQL_URI="http://localhost:3002/api/graphql"
# PostgreSQL
POSTGRESQL_URL="postgresql://<username>:<password>@<host>:<port>/<database>"
