@plugin 'daisyui' {
  themes:
    night --default,
    dark,
    light,
    cupcake,
    emerald,
    corporate,
    synthwave,
    retro,
    cyberpunk,
    valentine,
    halloween,
    garden,
    forest,
    aqua,
    lofi,
    pastel,
    fantasy,
    wireframe,
    black,
    luxury,
    dracula,
    cmyk,
    autumn,
    business,
    acid,
    lemonade,
    coffee,
    winter,
    dim,
    nord,
    sunset;
}

@plugin 'daisyui/theme' {
  name: 'chess';
  default: true;
  prefersdark: true;
  color-scheme: 'dark';
  --color-base-100: #101010;
  --color-base-200: #1a1a1a;
  --color-base-300: #262626;
  --color-base-content: #f5f5f4;
  --color-primary: #e5c07b;
  --color-primary-content: #1a1405;
  --color-secondary: #61afef;
  --color-secondary-content: #06101c;
  --color-accent: #c678dd;
  --color-accent-content: #19061f;
  --color-neutral: #303030;
  --color-neutral-content: #f5f5f4;
  --color-info: #61afef;
  --color-info-content: #06101c;
  --color-success: #98c379;
  --color-success-content: #0d1604;
  --color-warning: #e5c07b;
  --color-warning-content: #1a1405;
  --color-error: #e06c75;
  --color-error-content: #1c0607;
  --radius-selector: 0.375rem;
  --radius-field: 0.375rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
