[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chess = "*"
curl-cffi= "*"
fastapi = "*"
g4f = "*"
pydantic = "*"
scikit-learn = "*"
stockfish = "*"
uvicorn = "*"

[dev-packages]
black = "*"
pylint = "*"

[requires]
python_version = "3.12"
