@import 'tailwindcss';

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }

  select {
    background: none;
    padding: 0;
  }
}

body > div:last-child > span + img {
  display: inline !important;
}

.animate-flip {
  animation: flip 500ms linear infinite; /* Add flip animation */
  transform-style: preserve-3d; /* Allows 3D transforms for the coin faces */
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(90deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  75% {
    transform: rotateY(270deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

body {
  overflow-x: hidden;
}

.clip-triangle {
  clip-path: polygon(0 0, 100% 100%, 0 100%);
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
