@use '../colors/colors' as colors;

// Background color utilities — core colors

$background-color-default: #f3f4f6;

@each $name, $value in colors.$palette {
  .bg-#{$name} {
    background-color: $value;
  }
}

.bg {
  background-color: $background-color-default;
}
