@plugin 'daisyui' {
  themes:
    projects-light --default,
    projects-dark;
}

@plugin 'daisyui/theme' {
  name: 'projects-light';
  default: true;
  color-scheme: 'light';
  --color-base-100: #ffffff;
  --color-base-200: #f7f6f3;
  --color-base-300: #efeeea;
  --color-base-content: #37352f;
  --color-primary: #2383e2;
  --color-primary-content: #ffffff;
  --color-secondary: #9b9a97;
  --color-secondary-content: #ffffff;
  --color-accent: #2383e2;
  --color-accent-content: #ffffff;
  --color-neutral: #37352f;
  --color-neutral-content: #ffffff;
  --color-info: #2383e2;
  --color-info-content: #ffffff;
  --color-success: #2e9d5b;
  --color-success-content: #ffffff;
  --color-warning: #d9730d;
  --color-warning-content: #ffffff;
  --color-error: #e03e3e;
  --color-error-content: #ffffff;
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin 'daisyui/theme' {
  name: 'projects-dark';
  color-scheme: 'dark';
  --color-base-100: #191919;
  --color-base-200: #1f1f1f;
  --color-base-300: #2a2a2a;
  --color-base-content: rgba(255, 255, 255, 0.81);
  --color-primary: #55a6ee;
  --color-primary-content: #0c1622;
  --color-secondary: #9b9a97;
  --color-secondary-content: #191919;
  --color-accent: #55a6ee;
  --color-accent-content: #0c1622;
  --color-neutral: #37352f;
  --color-neutral-content: #ffffff;
  --color-info: #2383e2;
  --color-info-content: #ffffff;
  --color-success: #2e9d5b;
  --color-success-content: #ffffff;
  --color-warning: #d9730d;
  --color-warning-content: #ffffff;
  --color-error: #f16663;
  --color-error-content: #2a0b0b;
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
