@plugin 'daisyui' {
  themes:
    colors-light,
    colors-dark --default;
}

@plugin 'daisyui/theme' {
  name: 'colors-light';
  color-scheme: 'light';
  --color-base-100: #ffffff;
  --color-base-200: #f4f4f5;
  --color-base-300: #e4e4e7;
  --color-base-content: #18181b;
  --color-primary: #6366f1;
  --color-primary-content: #ffffff;
  --color-secondary: #ec4899;
  --color-secondary-content: #ffffff;
  --color-accent: #10b981;
  --color-accent-content: #ffffff;
  --color-neutral: #52525b;
  --color-neutral-content: #ffffff;
  --color-info: #0ea5e9;
  --color-info-content: #ffffff;
  --color-success: #22c55e;
  --color-success-content: #ffffff;
  --color-warning: #f59e0b;
  --color-warning-content: #18181b;
  --color-error: #ef4444;
  --color-error-content: #ffffff;
  --radius-selector: 1rem;
  --radius-field: 0.75rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin 'daisyui/theme' {
  name: 'colors-dark';
  color-scheme: 'dark';
  --color-base-100: #09090b;
  --color-base-200: #18181b;
  --color-base-300: #27272a;
  --color-base-content: #fafafa;
  --color-primary: #818cf8;
  --color-primary-content: #1e1b4b;
  --color-secondary: #f472b6;
  --color-secondary-content: #500724;
  --color-accent: #34d399;
  --color-accent-content: #022c22;
  --color-neutral: #3f3f46;
  --color-neutral-content: #fafafa;
  --color-info: #38bdf8;
  --color-info-content: #082f49;
  --color-success: #4ade80;
  --color-success-content: #052e16;
  --color-warning: #fbbf24;
  --color-warning-content: #451a03;
  --color-error: #f87171;
  --color-error-content: #450a0a;
  --radius-selector: 1rem;
  --radius-field: 0.75rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
