# Base URL
BASE_URL="http://localhost:3000/api"
GRAPHQL_BASE_URL="http://localhost:3000/api"
# GraphQL
GRAPHQL_URI="http://localhost:3000/api/graphql"
NEXT_PUBLIC_GRAPHQL_URI="http://localhost:3000/api/graphql"
# PostgreSQL
POSTGRESQL_URL="postgresql://username:password@localhost:5432/postgres"
POSTGRES_PRISMA_URL="postgresql://username:password@localhost:5432/postgres"
POSTGRES_URL_NON_POOLING="postgresql://username:password@localhost:5432/postgres"
